<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286247595478-6vvor7cln38vsisgu60h3r8i3v4agv5s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286247595478-6vvor7cln38vsisgu60h3r8i3v4agv5s</string>
	<key>API_KEY</key>
	<string>AIzaSyAIGhQpSjTWPDKyHFAxUszNzUQfF8rZNXk</string>
	<key>GCM_SENDER_ID</key>
	<string>286247595478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jp.inc.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-60219</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-60219.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286247595478:ios:3c8f287b29e26e3ff94877</string>
	<key>DATABASE_URL</key>
	<string>https://messenger-60219.firebaseio.com</string>
</dict>
</plist>